/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/* Responsive properties */

/*Small Screens*/
@media screen and (max-width: 90em) {

	.bigScreen {
		display: none;
	}

	.header_div{
		width: 98%;
		margin:auto;
		border-radius: 18px;
	}

	.menuText{
		text-align: center;
	}

	.smallScreenTexts{
		transform: translateY(-15px);
		margin: 26px;
		vertical-align: baseline;

		padding: 15px;
		border-radius: 8px;
		color: white;
		font-family: "Courier";
	}

	.smallScreenTexts p {
		margin: 60px 9px;
		font-size: 37px;
	}

	.smallScreenTexts h1 {
		text-align: center;
		font-size: 55px;
	}

	.smallScreenTexts h2 {
		text-align: center;
		font-size: 49px;
	}

	.topnav {
		transform: translateY(-4px);
		overflow: hidden;
		font-size: 49px;
		background-color: #9e9e9e;
	}

	.topnav #myLinks {
		display: none;
	}

	.topnav a {
		color: white;
		padding: 14px 20px;
		text-decoration: none;
		display: block;
	}

	.topnav a.icon {
		background: black;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav a:hover {
		background-color: #f7f7f7;
		color: black;
	}

	.active {
		background-color: #497f86;
		color: white;
	}

	.mobileText a{
		color: inherit;
	}

	.centerText{
		text-align: center;
	}

	.moreSpaceBetweenLines{
		padding-top: 5px;
		padding-bottom:5px;
	}

	.infoText{
		font-size: 25px;
	}

}






/*Big Screens*/
@media screen and (min-width: 91em) {
.smallScreen {
	display: none;
}
}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset end */

h1 {
	margin-bottom: 1.5em;
	margin-top: 1em;
	font-size: 150%;
	font-weight:bold;
}

h2 {
	margin-bottom: 1em;
	margin-top: 2em;
	font-size: 120%;
	font-weight:bold;
}

h3 {
	margin-bottom: 1em;
	margin-top: 2em;
	font-size: 110%;
	font-weight:bold;
	margin-left: 1.2em;
}


b {
	font-weight: bold;
}

#sidebar_1 p {
	margin-left: 15px;
	line-height: 1.5;
}

#sidebar_2 p {
	margin-left: 15px;
	line-height: 1.5;
}

#sidebar_3 p {
	text-align: center;
	margin-right: 25px;
}

#content p {
	font-size: 13px;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
	line-height: 1.3;
	margin-left: 1.5em;
}

#content li {
	font-size: 13px;
	line-height: 1.8;
	list-style: disc;
	margin-left: 4.5em;
}

#navigation li {
	font-size: 14px;
	float: left;
	margin-left: 15px;
	margin-top: 20px;
	color: #fff;
	list-style: none;
	line-height: 1.5;
}

#navigation a:link {text-decoration: none; color: #fff;}
#navigation a:visited {text-decoration: none; color: #ddd;}
#navigation a:hover {text-decoration: underline; color: #fff;}
#navigation a:active {text-decoration: underline; color: #fff;}

#navigation ul {
	margin-left: 20px;
}

#footer li {
	color: #fff;
	font-family: Verdana, sans-serif;
	padding-top: 20px;
	margin-left: 60px;
	font-size: 14px;
	float: left;
	list-style: none;
}

#footer li a {
	text-decoration: none;
	color: #fff;
}

html {
	background-image:url(img/bg.png);
	background-color:#7b7b7b;
	background-repeat: repeat-x;
	font-family: Verdana, sans-serif;
	font-size: 13px;
}

#wrapper {
	margin-left:auto;
	margin-right:auto;
	width:961px;
	height: auto;
}

#header {
	height: 215px;
	width: 961px;
}

#header img {
	vertical-align: bottom
}

#navigation {
	background-image: url(img/navigation4.png);
	background-repeat:no-repeat;
	height: 79px;
	width: 961px;
}

#container {
	min-height: 900px;

	height:auto !important;
	height:900px;

	background-color: #fff;
	padding-bottom: 20px;
	width: 961px;
}

#content {
	background-color:#fff;
	min-height:900px;

	height:auto !important;
	height:900px;


	width:650px;
	float: left;
	margin-left: 32px;
	margin-right: 0px;
	margin-bottom: 0px;

}

#yt {
	margin-left: 0px;
	margin-top: 0px;
}


IMG.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	margin-bottom: 20px;
}


.digitointi {
	background-image: url(img/2k_2.png);
	background-position: top;
	background-repeat: no-repeat;
}

.filminsiirrot {
	background-image: url(img/4k_2.png);
	background-position: top;
	background-repeat: no-repeat;
}

#sidebar_1 {
	width: 215px;
	float:right;
	background-color: #fff;
	margin-top: 20px;
}

#sidebar_2 {
	width: 215px;
	float:right;
	background-color: #fff;
	margin-top: 1px;
}

#sidebar_3 {
	width: 215px;
	float:right;
	background-color: #fff;
	margin-top: 1px;
}

.sidebar_top {
	background-image: url(img/sidebar_top.png);
	background-repeat: no-repeat;
	height: 20px;
}

.sidebar_mid {
	background-image: url(img/sidebar_mid.png);
	background-repeat: repeat-y;
	height: auto;
	min-height: 100px;
	padding-left: 20px;
}

.sidebar_bottom {
	background-image: url(img/sidebar_bottom.png);
	background-repeat: no-repeat;
	height: 21px;
}

#footer {
	background-image: url(img/footer.png);
	background-repeat:no-repeat;
	height: 65px;
	width: 961px;
	clear: both;
}

#footer p {
	font-size: 16px;
	text-align:center;
}

#imgbar{
	position:relative;
	margin-left: 20px;
	height: 110px;
}

#imgbar li{margin:0;padding:0;list-style:none;position:absolute;top:0;}
#imgbar li, #imgbar a{height:92px;display:block;}

#a1{left:0px;width:92px;}
#a1{background:url('img/gear6.png') 0 0px;}
#a1 a:hover{background: url('img/gear6.png') 0px 92px;}

#a2{left:102px;width:92px;}
#a2{background:url('img/gear6.png') -92px 0px;}
#a2 a:hover{background: url('img/gear6.png') -92px 92px;}

#a3{left:204px;width:92px;}
#a3{background:url('img/gear6.png') -184px 0px;}
#a3 a:hover{background: url('img/gear6.png') -184px 92px;}

#a4{left:306px;width:92px;}
#a4{background:url('img/gear6.png') -276px 0px;}
#a4 a:hover{background: url('img/gear6.png') -276px 92px;}

#a5{left:408px;width:92px;}
#a5{background:url('img/gear6.png') -368px 0px;}
#a5 a:hover{background: url('img/gear6.png') -368px 92px;}

#a6{left:510px;width:92px;}
#a6{background:url('img/gear6.png') -459px 0px;}
#a6 a:hover{background: url('img/gear6.png') -459px 92px;}
